

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/mac.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MAC LAPTOP    50000 Rs</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/phon.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/ele.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is asupporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
  </div>
  
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/ele.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
    </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/ele.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/ele.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title </h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
      
    </div>
  </div>
