
<div class="row">
    <div class="col-sm-6">
      <div class="card">
       <img class="card-img-top"
       src="./assets/fash.jpg"/>
        <div class="card-body">
          <h5 class="card-title">FASHION</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="sb" class="btn btn-primary">Go </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top"
             
              src="./assets/elet.jpg"/>
             
        <div class="card-body">
          <h5 class="card-title">ELECTRONICS</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="sb" class="btn btn-primary">Go </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top"
        src="./assets/home1.jpg"/>
        <div class="card-body">
          <h5 class="card-title">HOME ACCESSORIES</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="sb" class="btn btn-primary">Go </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top"
        src="./assets/sp4.jpg" />
        <div class="card-body">
          <h5 class="card-title">SPORTS</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="sb" class="btn btn-primary">Go </a>
        </div>
      </div>
    </div>
  </div>
  